/*GENERAL CSS*/
/*
*@author : Mathioudakis Theodore
*@company : Agro-Know Technologies	 
*/

body { font-family: 'Signika',Tahoma, sans-serif; font-size: 14px; color: #757575; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
	
a { color:#124e62; text-decoration:none; outline:none; }
a:hover  { text-decoration:none; color:#8a9658; }
a.secondary { color:#8a9658; }
a.secondary:hover { color:#136e5a; }
a > img { display:block; }

h1, h2, h3, h4, p { margin:0 0 5px 0; padding:0; }
h1 { font-size:20px; font-weight:normal; color:#41647b; }
h2 { font-size:17px; font-weight:normal; color:#41647b; }
h3, h4 { font-size:14px; font-weight:normal; color:#41647b; }
p { line-height:1.5em }

h3 {
	font-size:24px;
	border-bottom:2px solid #41647b;
	padding-bottom:5px;
	margin-bottom:28px;
}

.floatleft { float:left; }
.floatright { float:right; }
.alignright { text-align:right; }
.aligncenter { text-align:center; }
.w100 { width:100%; }
.hasshadow {
	-webkit-box-shadow:#666 0 0 3px;
	-moz-box-shadow:#666 0 0 3px;
	box-shadow:#666 0 0 3px;
}
.hasshadow:hover {
	-webkit-box-shadow:#313131 0 0 3px;
	-moz-box-shadow:#313131 0 0 3px;
	box-shadow:#313131 0 0 3px;
}

.clr {clear:both; font-size:1px; height:1px; }

/* float clearing for IE6 */
* html .clearfix{ height: 1%; overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{  clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}

/* STICK FOOTER */
html, body {height: 100%;}
#wrap {width:100%;min-height: 100%;}
#main {overflow:auto;     min-width: 1024px;/*padding-bottom: 170px;*/}  /* must be same height as the footer IF the footer exists */

footer#mainfooter {
	position: relative;
	margin-top: -170px; /* negative value of footer height */
	height: 170px;
	clear:both;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

.inner {
	width:100%;
	margin:0 auto;
}
#main > .inner {
	margin-bottom:80px;
    padding-top:0px;
    float:left;
    min-width:1014px;
    background-image:url(images/back_dots.png);
}

/*SEARCH*/


/* FOOTER */
footer#mainfooter
{
	background:#263433 url(images/bg_footer.jpg) 0 0 repeat-x;
}

footer#mainfooter p
{
    padding:5px;
	font-size:12px;
}

/* CREDITS */
nav.credits {
	height:111px;
}
nav.credits {
	text-align:center;
}
nav.credits a {
	display:inline-block;
	height:65px;
	padding:0 60px;
	margin-top:20px;
	font-size:13px;
	color:#6a2810;
    /*font-weight : bold;*/
}
nav.credits a:hover {
    color:#fff;
}
nav.credits a.naturalEurope
{
	background:url(images/naturalEurope.png) 50% 100% no-repeat;
}
nav.credits a.curated {
	background:url(images/combo.png) 50% 133% no-repeat;
}
nav.credits a.redpanda {
	background:url(images/redpanda_logo.png) 50% 113% no-repeat;
}



/* HEADER */
header#mainheader {
	/*min-height:100px;*/ /*DEACTIVATED TO HIDE THE TOP VERTICAL LOGO*/
	border-bottom:5px solid #2e373f;
    background-color:gray;
}



.select2-drop {
	background-color:#1982a5;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	border-width:0;
}
.select2-results {
	color:#fff;
}
.select2-results .select2-highlighted {
	background: none repeat scroll 0 0 #FFF;
	color: #1a7c9c;
}
.select2-results .select2-result-label {
	display:block;
	height:20px;
	line-height:20px;
}
.select2-results .select2-result-label img {
	padding:4px 6px 0 0;
	float:left;
}

/*TOP VERTICAL LOGO*/
.logo {
	display:block;
	width:100%;
	height:90px;
	background:url(images/clean-header.png) center center no-repeat;
	text-indent:-9999px;
    margin:auto;
}

.logo_menu {
	position:relative;
	display:block;
	float:left;	width:22px;
	height:21px;
	margin:40px 0 0 10px;
	cursor:pointer;
}
.logo_menu:hover > ul { display:block; }
.logo_menu > ul {
	display:none;
	position:absolute;
	left:-10px;
	top:21px;
	z-index:11000;
}
.logo_menu > ul li a {
	background-color:#ececec;
	display:block;
	border-bottom:1px solid #d7d7d9;
	border-left:1px solid #d7d7d9;
	border-right:1px solid #d7d7d9;
	width:120px;
	height:35px;
	line-height:35px;
	padding:0 10px;
	overflow:hidden;
}
.logo_menu > ul li:first-child a {
	border-top:1px solid #d7d7d9;
}
/*--*/

/*LOGO ON THE LEFT OF THE SEARCH*/
.leftsidelogo
{
    display:block;
    background:url(images/gln-logo.png) left center no-repeat;
    margin: 10px 0px 20px 20px;
    height:90px;
    width:320px;
    float:left;
}
/*--*/


#search
{
    background-color:none;
    background-repeat:no-repeat;
    background-position: center center;
    padding:0px;
    height:80px;
}
.main_search_block {
	position:relative;
}
.moduletable_mainsearch
{
    /*padding-top:10px;*/
    padding-top:20px;
    margin:10px 0px 0px 100px;
    float:left;
}

.moduletable_mainsearch form {
	/*position:relative;*/
}
.moduletable_mainsearch form > div {
	background:url(images/search_input.png) 0 0 no-repeat;
	width:505px;
	height:62px;
    margin:auto;
}

.moduletable_mainsearch form > div input {
	border:0;
	background:transparent;
	height: 40px;
	margin:11px 0 0 18px;
	width: 385px;
	font-size:25px;
	font-family:'Signika', Arial, sans-serif;
}
.ie8 .moduletable_mainsearch form > div input {
	line-height:40px;
}
.placeholder { color: #dcdcdc; }
.moduletable_mainsearch form input[type=submit] {
	position:absolute;
	right:0;
	top:0;
	height: 48px;
	margin-right: 7px;
	margin-top: 8px;
	width: 75px;
	background:transparent;
	border:0;
	cursor:pointer;
	text-indent:-9999px;
}
.moduletable_mainsearch div.alignright {
	margin-top:7px;
}

.moduletable_extendedsearch {
	float:right;
	width:568px;
	padding-top:10px;
	color:#49b49c;
	display:none;
}
.moduletable_extendedsearch .radioline {
	margin-bottom:13px;
}
.moduletable_extendedsearch .radioline label {
	float:left;
	margin-right:15px;
	
}
.moduletable_extendedsearch .radioline label .styledRadio {
	float:left;
	margin:1px 4px 0 0;
}
.moduletable_extendedsearch .selectline {
	margin-bottom:5px;
}
.moduletable_extendedsearch .selectline label > span {
	height:28px;
	line-height:28px;
	display:inline-block;
	margin-right:5px;
	width:115px;
	text-align:right;
}

/* SELECT2 OVERRIDE EXTENDSEARCH */
.moduletable_extendedsearch .select2-container .select2-choice {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image:none;
	border: 3px solid #e0e0e0;
	border-radius: 4px 4px 4px 4px;
	color: #444444;
	display: block;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	padding: 0 0 0 8px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	width:144px;
	filter:0;
}
.moduletable_extendedsearch .select2-container-active .select2-choice,
.moduletable_extendedsearch .select2-container-active .select2-choices {
	-webkit-box-shadow: none;
	-moz-box-shadow   : none;
	-o-box-shadow     : none;
	box-shadow        : none;
	/*border: 1px solid #5897fb;*/
	outline: none;
}
.moduletable_extendedsearch .select2-container .select2-choice div {
	background:url(images/select_arrow.png) 0 0 no-repeat;
	border-left:0;
	border-radius:0;
	display: block;
	height: 100%;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 23px;
	filter:0;
}
.moduletable_extendedsearch .select2-container .select2-choice div b {
	background:none;
	display: block;
	height: 100%;
	width: 100%;
}
.select2-drop.simple {
	background-color:#FFF;
	font-size:14px;
	font-weight:normal;
	text-transform:inherit;
	border-width:0;
}
.select2-drop.simple .select2-results {
	color:#000;
}
.select2-drop.simple .select2-results .select2-highlighted {
	background: none repeat scroll 0 0 #ECECEC;
	color: #000;
}
.select2-drop.simple .select2-results .select2-result-label {
	display:block;
	height:20px;
	line-height:20px;
}
.select2-drop.simple.font12 .select2-results .select2-result-label {
	font-size:12px;
	font-family:'Signika', Tahoma, sans-serif;
}

/* STD DROPDOWNS ( label as parent ) */
.stdselect .select2-container .select2-choice {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image:none;
	border: 3px solid #e0e0e0;
	border-radius: 4px 4px 4px 4px;
	color: #444444;
	display: block;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	padding: 0 0 0 8px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	/*width:144px;*/
	filter:0;
}
.stdselect .select2-container-active .select2-choice,
.stdselect .select2-container-active .select2-choices {
	-webkit-box-shadow: none;
	-moz-box-shadow   : none;
	-o-box-shadow     : none;
	box-shadow        : none;
	/*border: 1px solid #5897fb;*/
	outline: none;
}
.stdselect .select2-container .select2-choice div {
	background:url(images/select_arrow.png) 0 0 no-repeat;
	border-left:0;
	border-radius:0;
	display: block;
	height: 100%;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 23px;
	filter:0;
}
.stdselect .select2-container .select2-choice span {
    padding-right:10px;
}
.stdselect .select2-container .select2-choice div b {
	background:none;
	display: block;
	height: 100%;
	width: 100%;
}
.stdselect .select2-search, .simple .select2-search {
    margin-top:4px;
}

/* MENU */
nav {
	margin-top:0px;
}
nav #jMenu {
	margin:0 auto;
}
nav #jMenu li {
	background:transparent;
	display: table-cell;
	margin: 0;
}
nav #jMenu li.hassubmenu {
	background:url(images/menu_hassub.png) 93% 53% no-repeat;
}
.ie9 nav #jMenu li.hassubmenu { background-position:93% 48%; }
nav #jMenu li a
{
	color: #124e62;
	display: block;
	font-size: 16px;
	font-family:'Signika', Tahoma, sans-serif;
	padding:10px 35px;
}
nav #jMenu > li.active > a, nav #jMenu > li:hover > a {
	color:#8a9658;
}
nav #jMenu > li.active a {
	/*background:url(images/menu_active.png) center bottom no-repeat;*/
}
nav #jMenu li ul {
	z-index:10000;
}
nav #jMenu li ul li {
	background-color:#ececec;
	display:block;
	border-bottom:1px solid #d7d7d9;
	border-left:1px solid #d7d7d9;
	border-right:1px solid #d7d7d9;
	padding:0
}
nav #jMenu li ul li:first-child {
	border-top:1px solid #d7d7d9;
	margin-top:9px;
}
nav #jMenu li ul li.arrow {
	background:transparent;
	height:10px;
	padding:0;
	border-bottom:1px solid red;
	border-left:1px solid yellow;
	border-right:1px solid blue;
}
nav #jMenu li ul li a.isParent {
	background:url(images/menu_subparent.png) 95% center no-repeat transparent;
}
nav #jMenu li ul li a {
	font-size:16px;
	font-family:'Signika',Arial, sans-serif;
	color:#124e62;
	text-transform:none;
	padding:12px;
	display:block;
	border-top:0;
	border-bottom:0;
	color:#124e62;
}
nav #jMenu li ul li a:hover {
	color:#8a9658;
	background-color:#ececec;
	border-top:0;
	border-bottom:0;
}

/* PARALAX SLIDESHOW */
#slideshow-wrapper {
	height:370px;
	/*background:url(images/slideshow_bg_patter.png) 0 0 repeat;*/
    background-color:#f2f3e9;
}

#layerslider {
	width: 100%;
	height: 370px;
	margin: 0px;
}

.biggreen {
	font-size:60px;
	font-weight:bold;
	color:#124e62;
	display:block;
	height:50px;
	margin-bottom:6px;
	text-transform:uppercase;
}
.lightgreen {
	font-size:32px;
	color:#8a9658;
	display:block;
	height:30px;
	text-transform:uppercase;
}
.normalgreen {
	font-size:32px;
	color:#124e62;
	display:block;
	height:34px;
}

/* skin overwrite */
#slideshow-wrapper .ls-lightskin {
    background: transparent;
    border-radius:0;
    box-shadow:none;
    padding:0;
}

/* MAIN */
#main {
	/*padding-top:30px;*/
}

.sorting {
	height:40px;
	line-height:40px;
	background:url(images/filters_body.png);
	color:#666666;
	padding:0 9px 0 21px;
    
}



.sorting label {
	float:right;
	margin-left:20px;
}
.sorting label .select2-container {
	margin-top:5px;
}
.sorting label.stdselect.width146 .select2-container .select2-choice {
	width:146px;
}



/* SUPPORTERS */
.supporters {
	height:183px;
	padding-top:54px;
	background:#e1e5cc;
}
.supporters a {
	text-align:center;
	font-size:10px;
	color:#919191;
	padding:0 0 103px 0;
	margin:0 50px;
	display:inline-block;
}
.developed_by {
	background:url(images/uah.jpg) center bottom no-repeat;
	width:82px;
}
.operated_by {
	background:url(images/agroknow.jpg) center bottom no-repeat;
	width:88px;
}
.designed_by {
	background:url(images/redpanda.jpg) center bottom no-repeat;
	width:90px;
}
.supported_by {
	text-align:left !important;
	background:url(images/naturalEurope.png) center bottom no-repeat;
	width:185px;
}

/* INNERPARE LISTINGPAGE */
body.innerpage #main {
	padding-top:20px;
    
}



.langselector {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image: url(images/select_arrow.png);
	background-position:99% 2px;
	background-repeat:no-repeat;
	border: 3px solid #E0E0E0;
	border-radius: 4px 4px 4px 4px;
	color: #444444;
	display:inline-block;
	height: 23px;
	line-height: 23px;
	width:224px;
	padding:0;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	position:relative;
}
.langselector > li a {
	display:block;
	margin-left:8px;
	padding-left:20px;
	background:url(images/face_1.png) left center no-repeat;
}
.langselector > li ul {
	display:none;
	background:#fff;
	border: 3px solid #E0E0E0;
	border-radius: 4px 4px 4px 4px;
	position:absolute;
	top:23px;
	left:1px;
	width:216px;
}
.langselector > li ul a {
	padding:4px 0 4px 20px;
}
.langselector > li:hover ul {
	display:block;
}

/* SCROLLBAR */
.jspVerticalBar {
	width:6px;
}
.jspTrack { background-color:#073646; }
.jspDrag { background-color:#3D9D8C; }



/* PANEL */
#panel {
	position:absolute;
	width:100%;
}
#panel section {
	display:none;
	background:#2e373f;
	padding:17px 21px 10px;
}
#panel .brownline {
	width:100%;
	height:3px;
	background:black;
}
#panel > a {
	width:36px;
	height:31px;
	background:#2e373f url(images/sprite.png) 6px 4px no-repeat;
	display:block;
	text-indent:-9999px;
	border-radius: 0px 0px 4px 4px;
	margin-right:24px;
}
#panel article { height:18px; line-height:18px;float:left;margin-right:35px; width:310px; }
#panel article > h3 {
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	margin-right:18px;
}
#panel article > div {
	float:left;
	display:block;
	width:155px;
	height:3px;
	margin-top:7px;
}
#panel article > span.amount {
	background-color:#9fbc2e;
	padding:0 3px;
	margin-left:18px;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	font-size:12px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#fff;
	border: 1px solid #fff;
	font-weight: normal;
}
.ui-slider .ui-slider-handle {
	cursor:pointer;
	height:12px;
	width:24px;
	border:none;
}
.ui-slider-horizontal .ui-slider-handle {
	top:-5px;
}
#resizefonts .ui-slider-range, #linespacing .ui-slider-range { background: #93b944; }

#panel label {
	float:left;
	height:18px;
	line-height:18px;
	display:inline-block;
}
#panel label > span {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-right: 18px;
}
#s2id_font-selector.select2-container {
	margin:0px;
	width:133px;
	text-align:left;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	/*float:left;*/
	margin-top:-4px;
}
#s2id_font-selector.select2-container .select2-choice {
	color:#fff;
	background-color:#c3d92e;
	background-image:none;
	filter:0;
	border-color:#c3d92e;
	box-shadow:0 1px 0 #c3d92e inset;
}
#s2id_font-selector.select2-container .select2-choice div {
	background:transparent;
	border-left: 1px solid #fff;
	width: 20px;
	filter:0;
}
#s2id_font-selector.select2-container .select2-choice div b {
    background: url("images/select2.png") no-repeat scroll 2px 1px transparent;
    display: block;
    height: 100%;
    width: 100%;
}
#s2id_font-selector.select2-container .select2-choice span img {
	padding:7px 6px 0 0;
	float:left;
}