/*CSS FOR VIEW ITEM PAGE*/
/*
*@author : Mathioudakis Theodore
*@company : Agro-Know Technologies	 
*/

.access, .reportaproblem {
	padding:35px 0 0 0;
	margin:22px 0 0 0px;
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	font-size:12px;
}
.access{
	background-image:url(images/access_to_the_resource.png);
}

.reportaproblem {
	background-image:url(images/reportaproblem.png);
}



/*Left Sidebar in item*/
.leftSidebarInfo {
    margin-top:25px;
	width:230px;
	background:none;
    font-size:13px;
    border-right:1px solid #ccc;
    
}

.cleanList
{
    list-style-type: none;
    margin:0px;
    padding:10px 10px 15px 20px;
}

.cleanRow
{
    padding: 7px 0px 3px 0px;
}

.itemsMedia
{
    /*float:right;*/
    width:160px;
    height:160px;
}
.itemDescription
{
    float:left;
    width:550px;
    min-height: 200px;
}

.itemKeywords
{
    width:550px;
}

.itemKeywords li
{
	margin:0px;
    list-style-type:none;
    padding: 0px;
}
.itemRights
{
    display:inline;
    font-size:12px;
}

.forKomma{
    color:#41647b;
}
.forKomma:after{
    color:#41647b;
    content:", ";
}
.forKomma.last:after{
    color:#41647b;
    content:" ";
}
.forKomma.link:hover{
    color:#41647b;
}

/* ITEM VIEW */

a.backbutton {
	padding-left:30px;
	height:25px;
	line-height:25px;
	background:url(images/back.png) left center no-repeat;
	font-weight:bold;
	display:inline-block;
}

.itemview {
	margin-top:15px;
	width:790px;
}
.item-main {
	margin:17px 0;
    padding-left:30px;
}
.item-main header { margin-bottom:10px; }
.item-main header h1 {
	width:620px;
	display:inline-block;
	line-height:1.2em;
}
.item-main header img {
	float:right;
}
.item-main nav.more {
	text-align:center;
	display:block;
	margin-top:25px;
}
.item-main nav.more a {
	padding:90px 0 0 0;
	margin:0 60px;
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	font-weight:bold;
}
.item-main nav.more a.access {
	background-image:url(images/access_to_the_resource.png);
}
.item-main nav.more a.metadata {
	background-image:url(images/view_metadata_details.png);
}

.item-content > div.clearfix {
	margin-top:45px;
	padding-bottom:11px;
	border-bottom:1px solid #ececec;
	position:relative;
}
.item-content .iteminfo {
	width:470px;
	font-size:12px;
}
.item-content .iteminfo a > img {
	display:inline;
}
.item-content .iteminfo li {
	margin-bottom:8px;
}
nav.inline-nav {
	display:inline;
	margin:0;
	font-size:14px;
}
nav.inline-nav a:after {
	content:",";
}

.item-content h4 {
	font-size:18px;
	color:#7b7b7b;
	margin-bottom:13px;
}

.item-content .itemrating {
	width:470px;
	font-size:12px;
}
.item-content .itemrating > li {
	margin-bottom:8px;
}
.item-content .itemrating .ratinglabel {
	width:180px;
	display:inline-block;
}
a.setrightbottom {
	position:absolute;
	right:0;
	bottom:11px;
}
.review-line {
	font-size:12px;
}
/* flags */
span.flag {
	text-indent:-9999px;
	margin-left:3px;
	display:inline-block;
	width:27px;
	height:18px;
        background-repeat: no-repeat;
}
span.enflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
        text-indent:-9999px;
}
span.esflag {
	background:url(images/flag_es.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.itflag {
	background:url(images/flag_it.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.grflag {
	background:url(images/flag_gr.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.etflag {
	background:url(images/flag_et.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.roflag {
	background:url(images/flag_ro.jpg) 0 0 no-repeat;
        text-indent:-9999px;
}
span.deflag {
	background:url(images/flag_de.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.frflag {
	background:url(images/flag_fr.png) 0 0 no-repeat;
        text-indent:-9999px;
}
a.flag {
	text-indent:-9999px;
	margin-left:3px;
	display:inline-block;
	width:21px;
	height:13px;
}
a.enflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}
a.spflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}
a.itflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}
a.grflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}

.addtofavorite, .reportaproblem {
	padding:35px 0 0 0;
	margin:22px 0 0 28px;
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	font-size:12px;
}
.addtofavorite {
	background-image:url(images/add_to_favorite.png);
}
.reportaproblem {
	background-image:url(images/reportaproblem.png);
}

/* rating */
.rating {
	display:inline-block;
}
.rating li {
	float:left;
}
.rating li a {
	width:13px;
	height:13px;
	display:block;
	background:url(images/rating.png) 0 0 no-repeat;
	text-indent:-9999px;
	margin:0 2px;
}
.rating li a.active, .rating li a:hover {
	background-position:0 -23px;
}