/*
* Responsive Design HTML5 + CSS3 
* Mathioudakis Theodore / Agro-Know Technologies (2013)
*/

/*-Colors
*Color_1: #41647B (raf blue)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.75em;
		font-size: 10pt;
		letter-spacing: 0;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
		margin: 0 0 0.5em 0;
	}

	h2.major
	{
		text-align: left;
		margin: 0.775em 0 0.75em 0;
	}

		h2.major span
		{
			top: -0.775em;
			padding: 0 1em 0 0;
		}

	h3
	{
		font-size: 1.25em;
	}

	section,
	article
	{
		clear: both;
		margin: 0 0 2.5em 0 !important;
	}
	
	.byline
	{
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.button
	{
		font-size: 1.5em;
		width: 100%;
		padding: 0.75em 0 0.75em 0;
		margin-top: 0.5em;
		text-align: center;
	}

	ul.special
	{
	}
	
		ul.special li
		{
			margin: 0.1em;
		}

			ul.special li:hover
			{
				top: 0;
			}

			ul.special a
			{
				width: 9.5em;
				height: 9.5em;
				border-radius: 4.75em;
			}

				ul.special a:before
				{
					width: 128px;
					height: 128px;
					left: 50%;
					top: 50%;
					margin-top: -64px;
					margin-left: -64px;
					background: url('images/icons-special.png');
				}

	ul.contact
	{
	}
	
		ul.contact li
		{
			margin: 0 0.15em 0.35em 0;
			top: 0 !important;
		}
	
	/*change from left to centered in mobile	 */
	.image-left
	{
		float: none;
		margin: 0 2em 2em 0;
	}

/*********************************************************************************/
/* Section + Article Types                                                       */
/*********************************************************************************/

	.is-highlight
	{
	}
	
		.is-highlight .special
		{
		}

		.is-highlight h2
		{
			font-size: 2.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
		}

		.is-highlight .byline
		{
			margin: 0 0 0.75em 0;
		}
		
		.is-highlight br
		{
			display: none;
		}

	.is-post-summary
	{
		margin: 0 !important;
	}
	
		.is-post-summary h3
		{
			font-size: 1.25em;
		}

	.is-post
	{
	}

		.is-post h3
		{
			font-size: 2.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
		}

		.is-post .byline
		{
			margin: 0 0 0.75em 0;
		}
		
		.is-post ul.meta
		{
			margin: 0 0 0.5em 0;
		}

		.is-post header
		{
			margin: 0 0 3em 0;
		}

	.is-page-content
	{
	}

		.is-page-content h2
		{
			font-size: 2.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
		}

		.is-page-content .byline
		{
			margin: 0 0 0.75em 0;
		}
		
		.is-page-content ul.meta
		{
			margin: 0 0 0.5em 0;
		}

		.is-page-content header
		{
			margin: 0 0 3em 0;
		}

/*********************************************************************************/
/* Sidebar + Content                                                             */
/*********************************************************************************/

	.sidebar
	{
		border-top: solid 2px #e7eae8;
		margin-top: 3em;
	}
	
		.sidebar > section
		{
			margin: 0 0 5em 0 !important;
		}
	
		.sidebar > section:last-child
		{
			margin: 0 !important;
		}
	
	.content
	{
		padding-top: 1em;
	}

		.homepage .content
		{
			padding-top: 0;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
		padding: 12em 0 8em 0;
	}
	
	#main-wrapper
	{
		border-top-width: 0px;
		border-bottom-width: 5px;
	}

		.homepage #main-wrapper
		{
			border-top-width: 15px;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: none;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		display: none;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 3em 20px 3em 20px;
		margin: 0 !important;
	}

		#banner h2
		{
			font-size: 2.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
		}

		#banner .byline
		{
			margin: 0 0 0.5em 0;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 1em 20px 1em 20px;
	}

		#main > .row
		{
			padding: 2em 0 2em 0;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 4em 20px 2em 20px;
	}
	
		#footer > .row
		{
			padding: 1em 0 1em 0;
		}



/*********************************************************************************/
/* Mobile UI                                                                     */
/*********************************************************************************/

	#titleBar
	{
		background: rgba(21, 38, 23, 0.8);
	}

		#titleBar:after
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
			opacity: 0.15;
		}

		#titleBar .title
		{
			display: block;
			position: relative;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.25em;
			line-height: 44px;
			color: #fff;
			z-index: 1000;
			text-align: center;
		}

		#titleBar .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			text-indent: -9999px;
			background: #41647B url('images/mobileUI-site-nav-opener-bg.svg') 8px 14px no-repeat;
			width: 44px;
			height: 44px;
			z-index: 1001;
		}

			#titleBar .toggle:active
			{
				background-color: #ebe3b2;
			}

	#navPanel
	{
		background: -moz-linear-gradient(top, #252c27, #000);
		background: -webkit-linear-gradient(top, #252c27, #000);
		background: -o-linear-gradient(top, #252c27, #000);
		background: -ms-linear-gradient(top, #252c27, #000);
		background: linear-gradient(top, #252c27, #000);
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.25em;
		box-shadow: inset -3px 0px 10px 0px rgba(0,0,0,0.25);
	}

		#navPanel nav
		{
			position: relative;
			z-index: 1000;
		}

		#navPanel:after
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
			opacity: 0.25;
		}

		#navPanel .link
		{
			display: block;
			color: inherit;
			text-decoration: none;
			height: 44px;
			line-height: 44px;
			padding: 0 1em 0 1em;
			color: #fff;
			border-top: solid 2px rgba(87, 93, 89, 0.15);
		}
		
		#navPanel .link:first-child
		{
			border-top: 0;
		}

/*********************************************************************************/
/* Search Box                                                                    */
/*********************************************************************************/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

.form-wrapper {
    width: 300px;
    padding: 5px;
    margin:5em auto 2em auto;
    background: #41647B; /*color of the search border*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.form-wrapper input {
    width: 210px;
    height: 40px;
    padding: 10px 5px;
    float: left;
    font: 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 80px;
    font: bold 15px/20px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #41647B; /*color of the search button*/
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.form-wrapper button:hover{
    background: #C1CAC5;
}

.form-wrapper button:active,

.form-wrapper button:focus{
    background: #C1CAC5;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*-------END Search Box*/	


/*********************************************************************************/
/* Listing Page	                                                                 */
/*********************************************************************************/

.moreinfo{
	padding:0.2em;
	margin-bottom: 1em;
}

/* PAGINATION */
#pagination_top
{
    margin:0px 0px 15px 0px;
}
.yui-pg-page
{
    margin:30px 0px 0px 5px;
    padding:4px 0.2em 4px 0.2em;
	font-size:16px;
    background:url(images/nav_back.png) center no-repeat;
}

.yui-pg-current-page
{
    color:black;
    font-weight:bold;
    text-decoration:none;
    background:url(images/nav_back_active.png)center no-repeat;
}
.yui-pg-previous
{
    padding-left:2em;
    
}
.yui-pg-next
{
    padding-left:2em;
}	

/* FACETS */
.filter {
	width:230px;
    margin-bottom:30px;

	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	
}
.filter a
{
	display:block;
	color:#82a64f;
/* 	float:left; */
}


.filter_parent
{
	line-height:35px;
    background: none;
    text-decoration: none;
}

.filter_parent:hover
{
    /*background: url(images/filter_parent_hover.png);*/
}

.filter_parent.opened:hover
{
    /*background: url(images/filter_parent_hover.png);*/
}

.filter_parent.opened
{
	background-position:93% -22px;
}

.filter_parent span {
	margin:0px 10px 0px 0px;
	display:inherit;
    font-size:14px;
    color:#3c5b6f;
    background-color:rgba(0,0,0,0.05);
    padding:0px 4px 0px 4px;
    
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.5);
}
.filter_child {
	/*display:none;*/
}
.filter_child.hasscroll {
	overflow:visible;
	height:auto;
}
.filter_child a {
    color:#3c5b6f;
    text-decoration: none;
    background:none;
	padding:0px;
	position:relative;
    font-size:13px;
    /*height:25px;*/
}
.filter_child a:hover
{
    background-color:#f8fde8;
}

.filter_child a.facet-selected
{
    font-size:13px;
    font-weight:normal;
    color:white;
    text-decoration: none;
    background:none;
}

.filter_child span {
	display:inherit;
	width:130px;
	vertical-align:middle;
	/*height:25px;*/
	float:none;
	
	background-color: rgba(0,0,0,0.05);
    padding:0px 4px 0px 4px;
    margin-right:0px;
    
    -webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}

.filter_child .facet-selected span
{
	background-color:#3c5b6f;
}

/*.filter_child span.image-icon { background:url(images/filter_icons.png) 0 9px no-repeat; }*/
/*.filter_child span.audio-icon { background:url(images/filter_icons.png) 0 -36px no-repeat; }*/
/*.filter_child span.video-icon { background:url(images/filter_icons.png) 0 -80px no-repeat; }*/
/*.filter_child span.url-icon { background:url(images/filter_icons.png) 5px -125px no-repeat; }*/
.filter_child span.total
{
    color:white;
	position:relative;
	height:16px;
	width:25px;
	right:0;
	top:0;
	line-height:16px;
	margin:0px 0px 0px -3px;
	padding:0px 8px;
	border:none;
	background-color:rgba(0,0,0,0.3);
	font-weight:normal;
	text-align:center;
	
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;

}

.filter_child a.facet-selected span.total
{
    background-color:#3c5b6f;   
}

.remove_filters {
	text-align:right;
	height:18px;
	text-transform:uppercase;
   
}
.remove_filters a {
	margin-right:9px;
	display:inline-block;
	height:18px;
	line-height:18px;
	font-size:10px;
	padding:0px 3px 0px 3px;
    color:white;
    text-decoration: none;
    
    background-color:#fbbb4b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.remove_filters a:hover
{
	color: #8b390f;
}