<!DOCTYPE html>
<html>
<head>
	<title> ^ Agro Know</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet/less" type="text/css" media="screen" href="../css/style.less" />

</head>

<body>
        <div id="akListing" ng-app="akListing" ng-cloak>
            <a href="search.html" target="_self" > <h3> &lt; Back to search</h3> </a>

			<!-- VIEW ITEM -->
			<hr>
            <div ng-controller="viewItemController" ng-init="getItem()">
			<form class="form-wrapper cf" action="search.html">
		        <input name="q" type="text" placeholder="Search here..." required>
		        <button type="submit">Search</button>
		    </form>



			<div id="view_item" ng-controller="viewItemController" ng-init="getItem()" >
				<article id="main_content" class="col-md-12 ">
	                    <h3 id="itemTitle">{{item_title}}</h3>
	                <ul>
						 <li><span class="labels">Description : </span> <br> {{item_description}}</li>
						 <li><span class="labels">Keywords : </span> <br>
						 	<a ng-repeat="keys in item_keywords" target="_self" href="search.html?query={{keys}}" >{{keys}}, </a>
						 </li>
						 <li><span class="labels">Classification : </span> <br>
							 <a ng-repeat="keys in item_classification" target="_self" href="search.html?query={{keys}}" >{{keys}}, </a>
						 </li>
					 </ul>

					<a href="{{item_resource_url}}" class="btn btn-sm btn-default" target=_blank >Access the resource</a>
	                <button class="btn btn-sm btn-default"  ng-click="isCollapsed = !isCollapsed">More Info</button>

					<hr>
					<div collapse="!isCollapsed">
						<h4 id="more_info">More Info</h4>
						 <ul>
							 <li><span class="labels">Organization: </span> {{item_organization}} </li>
							 <li><span class="labels">Language: </span> {{item_language}} </li>
							 <li><span class="labels">Location: </span> {{item_coverage}}</li>
							 <li><span class="labels">Learning Resource Types: </span> <span ng-repeat="types in item_resource_types"> {{types}}, </span></li>
							 <li><span class="labels">Key Audience: </span> <span ng-repeat="roles in item_roles"> {{roles}}, </span></li>
							 <li><span class="labels">Context: </span> <span ng-repeat="context in item_context"> {{context}}, </span></li>
							 <li><span class="labels">Age Range: </span> {{item_age_range}}</li>
						 </ul>
					</div>
				</article>


		</div>

			<!-- SOC NAV RATINGS-->
					 <!--
						<div class="rating">
	                	<p> <b>{{item_number_of_visitors}}</b> visitors have rate this item.</p>
	                	<p>Average rating : <b>{{item_average_rating}}</b></p>
						<div ng-show="enable_rating_1">
							<p>Rate this item</p>
		                	<span>Dimension 1 : </span>
							<span><a href="javascript:;" ng-click="rateItem(1,1)">1</a></span>
							<span><a href="javascript:;" ng-click="rateItem(2,1)">2</a></span>
							<span><a href="javascript:;" ng-click="rateItem(3,1)">3</a></span>
							<span><a href="javascript:;" ng-click="rateItem(4,1)">4</a></span>
							<span><a href="javascript:;" ng-click="rateItem(5,1)">5</a></span>
						</div>
						<div ng-show="enable_rating_2">
		                	<span>Dimension 2 : </span>
							<span><a href="javascript:;" ng-click="rateItem(1,2)">1</a></span>
							<span><a href="javascript:;" ng-click="rateItem(2,2)">2</a></span>
							<span><a href="javascript:;" ng-click="rateItem(3,2)">3</a></span>
							<span><a href="javascript:;" ng-click="rateItem(4,2)">4</a></span>
							<span><a href="javascript:;" ng-click="rateItem(5,2)">5</a></span>
						</div>
						<div ng-show="enable_rating_3">
		                	<span>Dimension 3 : </span>
							<span><a href="javascript:;" ng-click="rateItem(1,3)">1</a></span>
							<span><a href="javascript:;" ng-click="rateItem(2,3)">2</a></span>
							<span><a href="javascript:;" ng-click="rateItem(3,3)">3</a></span>
							<span><a href="javascript:;" ng-click="rateItem(4,3)">4</a></span>
							<span><a href="javascript:;" ng-click="rateItem(5,3)">5</a></span>
						</div>

	                	<p>Tags: <span ng-repeat="tags in item_tags">{{tags}}</span> </p>
        	            <form ng-submit="submitNewTag()" >
					      Add new tag for this item:
					      <input type="text" ng-model="new_tag" name="new_tag"/>
					      <input type="submit" id="submit_tag" value="Add" />
					    </form>
				   </div>
				   -->


			</article>
		</div>
    </div>


	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/angular-route.min.js"></script>
	<script type="text/javascript" src="../lib/ui-bootstrap-0.10.0.min.js"></script>
	<script src="../lib/less-1.5.0.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/controllers/view_item/viewItemController.js"></script>

</body>
</html>