<!DOCTYPE html>
<html>
<head>
	<title> ^ Agro Know</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	<script type="text/javascript" src="../lib/angular.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" type="text/css" media="screen" href="../css/style.less" />
	<script src="../lib/less-1.5.0.min.js" type="text/javascript"></script>


</head>

<body>

		<!-- Main div that contains the listing, the facets, the search field.
			the pagination and the informative messages. -->
        <div id="akListing" ng-app="akListing" ng-controller="mainController" ng-init="init_finder()">
            <h1>Agro-Know Discovery Finder</h1>

            <form ng-submit="submit()" >
		      What? Search something:
		      <input type="text" ng-model="search_query" name="search_query"/>
		      <input type="submit" id="submit" value="Submit" />
		    </form>

            <!-- Top Pagination -->
            <hr>

            <div ng-controller="paginationController" ng-show="enablePaginationTop" ng-init="initPagination()" class="pagination row">
	            <p ng-repeat="links in pages" ><a href="javascript:;" ng-click="goToPage(links)" >{{links}}</a></p>
            </div>

			<!-- facets -->
			<hr>
			<div><a href="javascript:;" ng-click="resetLocation()">reset finder</a></div>

            <div id="facets_sidebar" ng-show="enableFacets" ng-controller="facetsController">
            	<!-- active facets -->
	            <div class="facets row">
		            <span class="labels">Available Facets:</span>
		            <div ng-repeat="facet in facets" >
		            	<span>{{mapping['facets'][facet]}}</span> <!-- 'facet' is the actual facet name -->
		            	<div ng-repeat="term in inactiveFacets[0][facet.toString()].terms">
		            		<!-- 'facet' is the actual facet name and term.term is the machine name for the term -->
			            	<a href="javascript:;" ng-click="selectFacet(term.term, facet, term.count)">{{mapping[facet][term.term]}} ({{term.count}})</a>
		            	</div>
		            </div>

		            <!--<p ng-repeat="links in inactiveFacets" >
		            	<a href="javascript:;" ng-click="selectFacet(links)">{{links.facet}}:{{links.term}}({{links.count}})</a>
	            	</p>-->

	            </div>
            </div>

			<div id="active_facets" ng-show="enableFacets" ng-controller="facetsController">
				 <!-- active facets -->
	             <div ng-show="enableFacets" class="facets row">
		            <span class="labels">Active facets:</span>
		            	<p ng-repeat="links in activeFacets" >
		            		<a href="javascript:;" ng-click="deselectFacet(links)">{{links.term}}</a>
	            		</p>
	            </div>
            </div>

			<!-- listing -->
            <div id="listing" ng-controller="listingController" ng-init="findElements(true)" class="row">
	            <h4>Search for "<span class="active">{{query.split("=")[1]}}</span>" returned total: {{total}} results</h4>
		            <ul class="results">
			            <input ng-model="filterResults" placeholder="Filter results by title..." />
			            <b>Page '{{currentPage}}'</b> filtered with '<span class="active">{{filterResults}}</span>'</b> gives total: <b>{{filtered.length}} results</b>
			            <hr>

			          <!-- loading and message -->
				          <div ng-show="loading" class="loading" style="margin:0px auto; padding:0px;">
			            	<img src="../assets/images/loading_2.gif" >
			            </div>
			            <div ng-show="error" class="error_message">
			            	WOW! That's great!<br>An awesome error happened!<br> Try again later :p
			            </div>

	            <!-- results -->
		            	<li ng-repeat="result in filtered = (results | filter:filterResults) ">
				            <b>Title:</b>{{result.title}}
							<br> <b>Description:</b> {{result.description}}
							<br> <a target="_blank" href="item.html?id={{result.id}}_{{result.set}}"> <b>View More</b> </a>
			            </li>
		            </ul>
			</div>

			<!-- Bottom Pagination -->
			<div ng-controller="paginationController" ng-show="enablePaginationBottom" class="pagination row">
	         <p ng-repeat="links in pages" ><a href="javascript:;" ng-click="goToPage(links)" >{{links}}</a></p>
      </div>

    </div>

<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
<script type="text/javascript" src="../app/app.js"></script>
<script type="text/javascript" src="../app/controllers/mainController.js"></script>
<script type="text/javascript" src="../app/controllers/search/listingController.js"></script>
<script type="text/javascript" src="../app/controllers/search/paginationController.js"></script>
<script type="text/javascript" src="../app/controllers/search/facetsController.js"></script>


</body>
</html>