/*main colors*/
@primary_color_1:#5b5220;
@primary_color_2:#21A148;


/******************************************************/
/*				GENERAL & LANDING PAGE 				  */
/******************************************************/

body{
	width:100%;
	margin:20px auto;
	font: 1.1em Open Sans,Arial,Helvetica,sans-serif; /* lighter */
	background: url(../images/waves.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	.row{
		display: inline-block;
		width:100%;
	}

	.labels{
		float:left;
		font-size: 1.2em;
		font-weight: bold;
	}
}

#akListing{
	width:1010px;
	margin:30px auto;
	background-color: rgba(200,200,200, 0.6);
	padding:50px;
	.rounded-corners(10px);

}

.pagination{

	display: inline-block;

	p{
		float:left;
	}
}

.facets{
	display: inline-block;
	p{
		float:left;
		margin-right: 10px;
	}
}

.results{

	li{
		margin-top:10px;
		list-style: none;
	}
}

.loading{
	margin: 100px auto;
	width:100%;
	display: block;
	text-align: center;
}

.error_message{
	margin: 100px auto;
	width:100%;
	display: block;
	text-align: center;
	font:1.3em;
}

/******************************************************/
/*					SOCIAL TOOLS	 				  */
/******************************************************/


.rating {
  text-align: left;

  p
  {
	  font-size: 0.9em;
	  margin:0px;
	  padding:0px;
  }
}



/******************************************************/
/*					FUNCTIONS		 				  */
/******************************************************/

/*rounded corners function : 5px is default radius*/
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
