<!DOCTYPE html>
<html>
<head>
	<title> GFSP </title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" type="text/css" media="screen" href="../css/style.less" />

</head>

<body>
		<div id="header"></div>

		<form class="form-wrapper cf" action="search.html">
	        <input name="q" type="text" placeholder="Search here..." required>
	        <button type="submit">Search</button>
	    </form>

        <div id="akListing" ng-app="akListing" >
            <div class="breadcrumb"><a href="javascript:history.back()"> Back to Search</a></div>
            <div id="view_item" ng-controller="viewItemController" ng-init="getItem()" class="row">

				<article id="main_content">
	                <header>
	                    <h2 id="itemTitle"><a href="{{item_resource_url}}" target="_blank">{{item_title}}</a></h2>
	                    <!--<img src="style/images/copyright_sample.png" alt="image" />-->
	                </header>
	                <ul>
						 <li><span class="label">Description : </span>
						 	<span ng-repeat="desc in item_description"><br>{{desc}}</span>
						 </li>
						 <li><span class="label">Keywords : </span> <br>
						 	<a ng-repeat="keys in item_keywords" target="_self" href="search.html?q={{keys}}" >{{keys}}&nbsp;</a>
						 </li>
						 <li><span class="label">Classification : </span> <br>
							 <a ng-repeat="keys in item_classification" target="_self" href="search.html?q={{keys}}" >{{keys}}</a>
						 </li>
					 </ul>

					<div>
                        <a class="access_resource" href="{{item_resource_url}}" target=_blank >Access the resource</a>
	                </div>
				</article>

	             <article id="left_sidebar" >
					 <h3 id="more_info">More Info</h3>
					 <ul>
						 <li><span class="label">Organization: </span> {{item_organization}} </li>
						 <li><span class="label">Language: </span> {{item_language}} </li>
						 <li><span class="label">Location: </span> {{item_coverage}}</li>
						 <li><span class="label">Key Audience: </span> <span ng-repeat="roles in item_roles"> {{roles}} </span></li>
					 </ul>
				</article>
		</div>
    </div>


	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script src="../lib/less-1.5.0.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/controllers/view_item/viewItemController.js"></script>

</body>
</html>